.Battle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.battle-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #000;
    margin-top: 25%;
}
.submit-button {
    /* width: 40%; */
    margin-top: 10%;
}

.right-player, .left-player {
    padding: 10%;
}

ul {
    list-style: none;
}

.btn-attack {
    grid-column-start: 1;
    grid-column-end: 3;
}
.Logs {
    margin-top: 5%;
    border: 1px solid #eee;
    height: 400px;
    width: 100%;
}
.battle-logs div {
    padding: 10px;
    border-bottom: 1px solid #000;
}
.battle-logs {
    margin-top: 5%;
    border: 1px solid #000;
}

.select-attack {
    margin: 5% auto 0 auto;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 1.2em;
}
.select-attack img {
    border-radius: 5px;
}
.select-attack label {
    padding: 0 0 0 15px;

}